In [1]:
import torch as th
import numpy as np
import pandas as pd

FILE_NAME = 'C:\\Users\\steini\\Desktop\\chess\\lczero-training\\alphazero_vs_stockfish.csv'
OUTPUT_FILE_NAME = 'umap_embedding.csv'

In [2]:
df = pd.read_csv(FILE_NAME)
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
0,0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.000000,0.086106,1.150736,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.148783,0.026168,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.963422,0.930179,0.457671,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28575 entries, 0 to 28574
Columns: 8193 entries, Unnamed: 0 to 8191
dtypes: float64(8192), int64(1)
memory usage: 1.7 GB

In [4]:
loaded_x = th.tensor(df.values[:,1:])
print(loaded_x)
print(loaded_x.shape)

tensor([[0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
        [0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
        [0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.0000],
        ...,
        [0.0000, 0.0213, 0.1897,  ..., 0.0000, 0.0000, 0.0000],
        [0.0000, 0.5000, 1.5987,  ..., 0.0000, 0.0000, 0.0000],
        [0.0000, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 0.3371]],
       dtype=torch.float64)
torch.Size([28575, 8192])

In [5]:
import umap.umap_ as umap

In [7]:
reducer = umap.UMAP(n_neighbors=200)

In [8]:
OUTPUT_FILE_NAME = 'nn200_'+OUTPUT_FILE_NAME

In [9]:
final_data = loaded_x
%time umap_embedding = reducer.fit_transform(final_data)

Wall time: 13min 29s

In [10]:
print(umap_embedding[:10])

[[10.102496  26.567085 ]
 [10.017036  26.6365   ]
 [12.813954   3.942135 ]
 [ 6.0953245  7.554142 ]
 [12.646986   1.8230306]
 [ 5.049099   5.3990273]
 [13.101893   1.0054218]
 [13.841662   1.5059574]
 [13.26556    0.6371508]
 [12.160352  -1.4849197]]

In [11]:
umap_df = pd.DataFrame(umap_embedding)

In [12]:
umap_df.to_csv(OUTPUT_FILE_NAME)

In [13]:
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
plt.scatter(umap_embedding[:,0],umap_embedding[:,1])